.container{
    margin: 0 auto;
    width: 90vw;
    margin-top: 25vh;
    padding-top: 5%;
}

.box{
    margin: 0 auto;
    width: 50vw;
}

body{
    overflow-x: hidden;
    margin: 0 auto;
}

.centraliza_input{
    margin-left: 23vw;
    text-align: center;
}

a{
    text-decoration: none;
}